
/* MEDIA QUERIRES 375px */

@media screen and (max-width: 375px) {


    header ul, header .button{
        display: none;
    }

    header{
        width: 290px;
        justify-content: center;
        /* position: relative; */
    }

    header img{
        width: 75px;
    }

    .image-burger-menu{
        display: block;
        position: absolute;
        left: 0;
        height: 16px;
    }

    /* section */
    section img.rondBlancFond {
        display: none;
    }

    section img.finFlecheDroite {
        top: 460px;
        left: -324px;
    }

    .articleFlecheDirGauche {
        position: absolute;
        bottom: 49%;
        right: -99%;
        z-index: 999;
    }

    h1{
        font-size: 40px;
        line-height: 40px;
    }

    section .container-section .items{
        width: 320px;
    }
    
    section{
        background-size: 550% !important;
        background-position: 60% 100% !important;
        height: 630px;
    }

    .lineGreyIndexVertical{
        display: none;
    }

    main{
        width: 320px;
        height: 100%;
    }

    .locate{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .flexBoxTexte{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .txtLocateApp{
        text-align: center;
    }

    .locate .tailleIcone img{
        width: 56px;
    }

    img.iconeApp{
        margin-bottom: 0;
    }

    section .buttonSlider a {
        padding: 10px 30px;
    }

    /* article */
    .articleFlecheDirDroite {
        position: absolute;
        top: 0;
        left: -51%;
        z-index: 999;
    }

    .articleFlecheDirGaucheHaut {
        position: absolute;
        top: 0;
        right: -139%;
        z-index: 999;
    }

    h2{
        font-size: 32px;
        line-height: 32px;
    }


    .articleRondBleuFondDroite, .articleRondBleuFondGauche{
        display: none;
    }

    article .button a {
        padding: 10px 30px;
    }

    .imgFirstArticle{
        width: 311px;
        height: 311px;
    }

    .txtFirstArticle{
        width: 320px;
    }

    .firstArticle{
        align-items: center;
        justify-content: center;
    }

    /* footer */
    footer .signUp{
        width: 320px;
        align-items: center;
    }
    
    footer .titleFooter{
        width: 320px;
    }

    footer .titleFooter{
        font-size: 32px;
        line-height: 32px;
    }

    .cardApple, .googlePlay{
        width: 134px;
        height: 40px;
    }

    footer .cardApple img, footer .googlePlay img{
        height: 20px;
    }

    footer .cardApple .available-apple,  footer .googlePlay .available-googlePlay{
        font-size: 7px;
    }

    footer .txt-apple .AppStore,  footer .txt-googlePlay .googlePlayTxt{
        font-size: 16px;
    }

    footer ul{
        flex-direction: column;   
        align-items: center;
        margin-bottom: 50px;
    }

    footer .navbar-bottom-margin .navbar-bottom-container-left{
        display: flex;
        flex-direction: column;
    }

    footer .navbar-bottom-margin {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    footer .navbar-bottom-margin ul{
        margin-left: 0;
    }

    footer .navbar-bottom-margin .whiteLogo {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    footer .social-network{
    margin-bottom: 50px;
    margin-top: 50px;
    }
}